.presentacionuno {
  display: flex;
  justify-content: center; }

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footerx {
  width: 100%; }
