.catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.catalogoimagen {
    display: flex;
    justify-content: center;
    margin: 40px;
}


.form {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}


.insta {
    display: flex;
    justify-content: center;
}


.info {

    display: flex;
    justify-content: center;

    p {
        color:pink;
    }
}


@media (max-width: 425px) {


    .catalogo {
        margin-top: 40px;
    }

    p {

        color: pink;

    }
.footerx {
    width:1000px;
}

}