.presentacionuno{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footerx{
    width: 100%;
}