.catalogo-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;


    .form {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.568);
        border-radius: 10%;

    }

}


.card-insta {
    display: flex;
    color: white;
    margin: 60px;
    padding: 30px;
    justify-content: center;


    .card {
        background-color: rgb(224, 181, 195);
        justify-content: center;
        align-items: center;
    }
}

.h1-contacto h1 {
    color: $purple ;
    background-color: rgba(128, 128, 128, 0.445);
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: $h1-font ;
}

@media (max-width: 425px) {

    .h1-contacto h1 {
        display: flex;
        justify-content: center;
    }

    .catalogo-form {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .catalogo-form img {
        width: 200px;

    }

    .form {
        width: 200px;
    }
}