


.catalogo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .form {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding: 30px;
    }
   
}


 .info{
        display: flex;
        background-color:palevioletred;
        justify-content: center;
        margin: 30px;
        border:ridge pink 10px;
        color:beige;
        
        
    }



@media (max-width: 425px) {


    .catalogo {
        margin-top: 40px;
    }

    p {

        color: pink;

    }

    .catalogo-form {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;

}}