.catalogo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .form {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding: 30px;
    }

}

.info {
    display: flex;
    background-color: palevioletred;
    justify-content: center;
    margin: 30px;
    color: beige;
    border: groove;

}

.instagram {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

@media (max-width: 425px) {


    .catalogo {
        margin-top: 40px;
    }


    .catalogo-form {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;

    }
}