footer {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(227,181,181,1) 100%);
    .linea {
        display: flex;
        justify-content: center;
        color: rgb(206, 161, 202);
    }

}

@media (max-width: 425px) {


    footer {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(227,181,181,1) 100%);
    }


}