/*.container img{
    width: 100%;
}

@media (max-width: 425px) {

.precentacionuno img{
    margin:2px;
    padding:2px;
    width: 800px;
}

}*/

.card{
    display: flex;
    margin: 30px;
    padding: 20px;
}


.card-body{
    background-color: pink;
  
}