.logo1 {
  display: flex;
  justify-content: center;
}

.muestra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  img {

    margin: 20px;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.63);
  }

  img:hover {
    filter: opacity(.5);
    color: rgb(151, 16, 38);
  }
}

.titulo h2 {
  font-family: $h2-font;
  color: $rosa ;
  display: flex;
  justify-content: center;
  margin: 30px;
}


@media (max-width: 425px) {

  .muestra img {
    width: 100px;
    height: 150px;
    margin: 10px;
  }

}