.main2{

background-image: url('https://images.unsplash.com/photo-1601379327928-bedfaf9da2d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3UlQzMlQTl0ZXIlMjBkZSUyMGxhbmF8ZW58MHx8MHx8&w=1000&q=80');
height: 100%;
background-size: cover;
background-repeat:no-repeat;
background-position: center center;
}