.h1-nosotros h1 {
    color: $purple ;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: $h1-font ;
}

.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);

}