.h1-opinion h1 {
    color: $purple ;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: $h1-font ;
}


.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);

}


@media (max-width: 425px) {

    .carousel {
        display: flex;
        align-items: center;
        height: 70vh;
    }

}