.body-bg{
    background-color: rgba(185, 136, 152, 0.5);
}





.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & img:hover {
        filter: opacity(.5);
    }

    margin:30px;
}





@media (max-width: 425px) {

    .productos img {
        padding: 20px;
        margin-top: 60px;
        width: 200px;
        height: 300px;
    }

    .productoss img {
        padding: 20px;
        margin-top: 20px;
        width: 200px;
        height: 300px;
    }

    .productos3 img {
        padding: 20px;
        margin-top: 20px;
        width: 200px;
        height: 300px;
    }

}