

.card-group  {
    margin: 20px;
    padding: 10px;
    background-color: pink;
  
.card{
  background-color: palevioletred;
}

img:hover {

    filter: opacity(.5);
}


}
@media (max-width: 425px) {

    .card-group{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

img:hover {

    filter: opacity(.5);
}

}