.card-group {

    display: flex;

    .card {
        display: flex;
        align-items: center;
    }

    .card-body {
        background-color: $purple;
        width: 420px;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: 1px 2px 2px 2px black;
    }

    .card img {
        display: flex;
        align-items: center;
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .card img:hover {

        filter: opacity(.5);
    }

    .card-title {
        display: flex;
        justify-content: center;

    }

    input {
        background-color: rgb(255, 139, 145);
        color: white;

    }

}

.h1-productos h1 {
    color: $purple ;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: $h1-font ;
}

@media (max-width: 425px) {

    .card-group {
        display: flex;
        flex-direction: column;
    }

}